table#hosting, table#support {
  float: left;
}

table#hosting td, table#support td {
  font-size: 1.1em;
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table#hosting tr.row-odd td, table#support tr.row-odd td {
  background-color: #fed136;
}

table#hosting tr.row-even td, table#support tr.row-even td {
  background-color: #ffdd70;
}
.price-header {
  font-style: italic;
}

section#contact #civicrm-more-info-form .form-group input, 
section#contact #civicrm-more-info-form .form-group input {
  padding: 7px;
} 

#contact-us-intro {
  color: #fff;
}


.intro-text {
		color: #00548e;
}


.page-scroll.btn.btn-xl {
		color: #00548e;
		background-color:#febe10;
    margin-top: 200px;
}
.page-scroll {
		color: #00548e;
	
}

header .intro-text {
  padding-top: 150px;
}

header .intro-text .intro-heading {
  font-size: 40px;
}

section#contact .form-group input.form-control {
  height: 34px;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 6px 12px; 
}

#contact-us-iframe {
  background-color: #FFFFFF;
}
