{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
                <p id="contact-us-intro">Please <a href="https://ptp.ourpowerbase.net/civicrm/profile/create?gid=57&reset=1">fill out our form</a> to schedule demo.</p>
                <h3 class="section-subheading text-muted">Or, email: support@progressivetech.org or call: 1-612.351.3479</h3>
            </div>
        </div>
    </div>
</section>
