{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Hosting</h3>
            <p class="text-muted">PTP installs PowerBase on PTP-owned and managed computers in specialized facilities in multiple locations around North America. Our Hosting levels are designed to give large and small organizations responsive service at an appropriate price.</p>
            <table id="hosting">
              <tr class="row-odd">
                <td class="price-header">Up to 10,000 contacts</td>
                <td class="text-muted">$1380/year</td>
              </tr>
              <tr class="row-even">
                <td class="price-header">Up to 30,000 contacts</td>
                <td class="text-muted">$1725/year</td>
              </tr>
              <tr class="row-odd">
                <td class="price-header">Up to 200,000 contacts</td>
                <td class="text-muted">$2300/year</td>
              </tr>
              <tr class="row-even">
                <td class="price-header">More than 200,000 contacts</td>
                <td class="text-muted">Contact us</td>
              </tr>
            </table>
          </div>

          <div class="col-md-6">
            <h3>Support</h3>
            <p class="text-muted">CiviCRM is complex and powerful software. Through PowerBase support, we navigate you through the complexity, offering advice on the best ways to accomplish your organizing strategy and working around some of the rough edges that are often present in free software projects.</p>
            <p class="text-muted">PTP has its origins supporting community organizing and we’ve received some initial grants to launch this program particularly for community organizing.  These grants are winding down, so we encourage community organizing groups to participate at the highest level they can afford, because your investment helps us help the movement as a whole.  PTP is committed to providing knowledgeable and efficient services to all PowerBase users no matter what Technical Support plan they may have. </p>
            <p class="text-muted">SETUP COSTS: Regular setup fees are waived for Partner Level support.  Other support plans will be billed a flat start up fee of $425.</p>
            <p class="text-muted">DATA MIGRATION and OTHER ADDITIONAL FEES: All support plans may incur additional fees for importing existing contacts or advanced setup tasks charged at $120/hour. All costs will be clearly specified before we begin.</p>
            <table id="support">
              <tr class="row-odd">
                <td class="price-header">Partnership Level</td>
                <td class="text-muted">Unlimited phone and email support for one year. Plus, when you first start PowerBase, you receive four trainings tailored to your needs.</td>
                <td class="text-muted">$3395/year</td>
              </tr>
              <tr class="row-even">
                <td class="price-header">Basic Level</td>
                <td class="text-muted">25 credits of support, each worth 15 minutes, for use over 6 months. Plus, when you first start PowerBase, you receive four trainings tailored to your needs.</td>
                <td class="text-muted">$575/6 months<br /> <em>or</em><br /> double it for $1150/1 year</td>
              </tr>
              <tr class="row-odd">
                <td class="price-header">Per Incident Level</td>
                <td class="text-muted">Pay per request.</td>
                <td class="text-muted">$140/hour</td>
              </tr>
              <tr>
            </table>
          </div>
        </div>

    </div>
</section>
