{{ "<!-- Services -->" | safeHTML }}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row text-center">
            {{ range .Site.Params.services.list }}
            <div class="col-md-4">
                <a href="{{ .url }}"><img src="img/{{ .logo }}" /></a>
                <h4 class="service-heading">{{ .title }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
