{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.team.members }}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/{{ .img }}" class="img-responsive img-circle" alt="">
                    <h4>{{ .name }}</h4>
                    <p class="text-muted">{{ with .position }}{{ . | markdownify }}{{ end }} </p>
                    <ul class="list-inline social-buttons">
                        {{ range .social }}
                        <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">{{ with .Site.Params.team.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
