<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
    <!-- <script src="https://widget.battleforthenet.com/widget.js" async></script> -->
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "team.html" . }}
        {{ partial "services.html" . }}
        {{ partial "portfolio.html" . }}
        {{ partial "about.html" . }}
        {{ partial "clients.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
